*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  background-color: #f0e4e4c4;
}
.container {
  height: 28rem;
  margin-top: 0.5rem;
  max-width: 30rem;
  min-width: 20rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  grid-template-rows: repeat(3, minmax(20px, 1fr));
  align-items: center;
  justify-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  column-gap: 0.7rem;
  row-gap: 0.2rem;
}
h1 {
  position: relative;
  top: 13dvh;
  font-size: 4rem;
}
.box {
  background-color: #aaa7a7;
  height: 70%;
  width: 88%;
  max-width: 8rem;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 23, 124);
  font-size: 2rem;
}
#reset {
  background-color: red;
  height: 3rem;
  width: 6rem;
  position: absolute;
  bottom: 10dvh;
  transform: translate(-50%);
  border-radius: 2rem;
  color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  &:active {
    box-shadow: 2px 2px 5px 1px rgba(85, 44, 44, 0.76);
  }
}
.shadows {
  box-shadow: 2px 2px 5px 1px black;
}
.colorX {
  background-color: #9fb7c7;
}
.colorO {
  background-color: #5cb361;
}
