*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  background-color: #f0e4e4c4;
}
.container {
  height: 33.1rem;
  max-width: 29rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  column-gap: 0.5rem;
}
h1 {
  margin-top: 2rem;
  font-size: 4rem;
}
.box {
  background-color: #aaa7a7;
  height: 10rem;
  width: 8.4rem;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 23, 124);
  font-size: 2rem;
}
#reset {
  background-color: red;
  height: 3rem;
  width: 6rem;
  position: absolute;
  top: 50rem;
  transform: translate(-50%);
  border-radius: 2rem;
  color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}
